@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* Add this line */

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-topbar: #101010;
  --color-files: #0c1222;
  --color-script: #111f44;
  --color-botbar: #007acc;
  --color-file-selected: #007accAF;
  --color-file-hover: #007acc8F;

  --color-britty-font: #99A3AF;
  --color-britty-highlight: #c4d0ec;
  --color-britty-page: #0c1222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
